<div class="max-w-sm rounded overflow-hidden shadow-lg bg-white border border-gray-300 min-h-md max-h-md transition duration-500 hover:scale-110">
    <img class="w-full h-48 object-cover" src="{{ food.img }}" alt="{{ food.name }}">
    <div class="px-6 py-4 min-h-full">
      <div class="font-bold text-xl mb-2 text-green-700">{{ food.name }}</div>
      <p class="text-gray-700 text-base mb-2">
        {{ food.description }}
      </p>
      <div class="text-lg text-green-800 font-semibold mb-2">
        Rp.{{ food.price }}
      </div>
      <div class="mb-4">
        {% if food.ready == "Ready" %}
          <span class="text-green-600 font-bold px-3 border-2 border-green-600 rounded-full">Ready</span>
        {% else %}
          <span class="text-red-600 font-bold px-3 border-2 border-red-600 rounded-full">Out of stock</span>
        {% endif %}
      </div>

      <!-- Order Now Button -->
      <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
        Order Now
      </button>

      <!-- Edit Button -->
      <a href="{% url 'main:edit_food' food.pk %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mt-4 inline-block">
        Edit
      </a>

      <!-- Delete Button -->
      <a href="{% url 'main:delete_food' food.pk %}" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded mt-4 inline-block">
        Delete
      </a>
    </div>
</div>
