{% extends 'base.html' %}
{% block meta %}
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <h1>Welcome to Aina Homecook!</h1>
</div>

<p>Nama Aplikasi : {{nama_aplikasi}}</p>
<p>Nama Mahasiswa : {{nama_saya}}</p>
<p>Kelas: {{kelas_saya}}</p>
<a href="{% url 'main:logout' %}">
    <button>Logout</button>
</a>
<p>Sesi terakhir login: <strong>{{ last_login }}</strong</p>
<h2>List of foods:</h2>

    {% if not food_entries %}
    <p>Belum ada makanan atau minum di Aina Homecook, silahkan langsung mengunjungi Dallas atau Sutet.</p>
    {% else %}
    <div class="outside">
    {% for food_entry in food_entries %}
        <div class="container food">
            <img src={{food_entry.img}} class="food_img" />
            <h3>Name:</h3>
            <p>{{food_entry.name}}</p>
            <h3>Price:</h3>
            <p>{{food_entry.price}}</p>
            <h3>Ready?:</h3>
            <p>{{food_entry.ready}}</p>
            <h3>Description:</h3>
            <p>{{food_entry.description}}</p>
            <button class="order">Order</button>
            <a href="{% url 'main:edit_food' food_entry.pk %}">
                <button>Edit</button>
            </a>
            <a href="{% url 'main:delete_food' food_entry.pk %}">
                <button>Delete</button>
            </a>
        </div>
    {% endfor %}
    </div>
    {% endif %}
    
    <br />

    <a href="{% url 'main:create_food_entry' %}">
    <button>Add New Food</button>
    </a>

{% endblock content %}

