{% extends 'base.html' %}

{% block meta %}
<title>Register</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Aina FNB</title>
    <style>
        * {
            font-family: 'Poppins','Arial';
        }

        .container {
            display: flex;
            justify-content: center;
        }

        .food {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            background-color: #f2f2f2;
            border: 1px solid black;
            border-radius: 25px;
            padding: 1rem;
            box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
        }

        .food > * {
            text-align: left;
            margin: 0.25rem;
            width: 20vw;
            color: whi;
        }

        .outside {
            display: flex;
            width: 100vw;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding-left: 1rem;
        }

        .order {
            text-align: center;
            font-size: 1rem;
            color: white;
            background-color: #258ec7;
            border: 0px;
            border-radius: 5px;
            padding: 0.5rem 1.5rem;
            width: fit-content;
        }

        .order:hover {
            background-color: #2085bc;
        }

        body {
            padding: 0.5rem;
            background-color: white;
        }

        .food_img {
            height: 100px;
            width: 100px;
            object-fit: cover;
        }

        .outside {
            gap: 1rem;
        }
    </style>
{% endblock meta %}

{% block content %}

<div class="login">
  <h1>Register</h1>

  <form method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
      <tr>
        <td></td>
        <td><input type="submit" name="submit" value="Daftar" /></td>
      </tr>
    </table>
  </form>

  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{% endblock content %}